.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
}

.buttons > button {
    background-color:rgb(178, 130, 74);
    border: 1px solid black;
    border-radius: 20%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: 1%;
    color: black;
}

.main-content, html {
    background-color: rgb(244, 231, 178);
}

.navbar {
    background-color: rgb(178, 130, 74);
}